@import 'base/reset';
@import 'base/variables';

//common styles
//Headings
h1, h2, h3 {
   font-weight: 400;
}

h1, .title{
	font: 400 68px/1.05 $base-font-family-sans-serif;
   color: $grey-3;
}

h2, .title-block {
   padding: 0 0 20px;
	font: 400 54px/1.05 $base-font-family-sans-serif;
   color: $grey-3;

   @media screen and (max-width: 1199px) {
      font-size: 48px;
   }
   @media screen and (max-width: 1023px) {
      font-size: 44px;
   }
}

h3{
	font: 400 36px/1.05 $base-font-family-sans-serif;
}

p{
   font: 400 20px/1.5 $base-font-family-sans-serif;
}

//body
body {
   font-family:$base-font-family-sans-serif;
   color: $black;
   &.close {
      overflow: hidden;
   }
}

.body-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container {
   width: 100%;
   max-width: 1292px;
   padding: 0 16px;
   margin: 0 auto;
}

.ico {
   display: inline-block;
   width: 32px;
   height: 32px;
}

svg {
   width: 100%;
   height: 100%;
}

.btn {
   padding: 16px 64px;
   display: inline-block;
   background-color: $green-primary;
   border: 2px solid $green-primary;
   border-radius: 10px;
   color: $white;
   font: 500 24px/1.5 $base-font-family-sans-serif;
   transition: all 0.3s ease-in;
   &:hover {
      @media screen and (min-width: 1023px) {
         background-color: $white;
         color: $green-primary;
      }
   }
}

.link {
   color: $green-primary;
}


//header
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 70;
   padding: 40px 0;
   background-color: $white;
   @media screen and (max-width: 1023px) {
      padding: 24px 0;
   }
   @media screen and (max-width: 768px) {
      padding: 8px 0;
      background-color: transparent;
   }

   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.content {
         display: flex;
         align-items: center;

         &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            @media screen and (max-width: 768px) {
               background-color: $white;
            }
         }
      }
   }
   .logo-block {
      display: flex;
      flex: 1 1 215px;
      z-index: 2;
      @media screen and (max-width: 768px) {
         flex: 1;
         position: relative;
         justify-content: space-between;
         align-items: center;
         z-index: 10;
      }

      //burger
      .burger-btn {
         display: none;
         position: relative;
         width: 30px;
         height: 25px;
         border-radius: 10px;
         overflow: hidden;
         cursor: pointer;
         @media screen and (max-width: 768px) {
            display: block;
         }

         &::before,
         &::after {
               content: '';
               display: none;
               position: absolute;
               width: 100%;
               height: 4px;
               left: 0;
               background-color: $black;
               transition: all 0.3s ease-in;

               @media screen and (max-width: 768px) {
                  display: inline-block;
               }
            }
         &::before {
            top: 0;
         }
         &::after {
            bottom: 0;
         }

         span {
            display: none;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -2px;
            width: 100%;
            height: 4px;
            background-color: $black;
            transition: all 0.3s ease-in;

            @media screen and (max-width: 768px) {
               display: inline-block;
            }
         }

         &.active{
            &::before{
               transform:rotate(45deg);
               top:10px;
            }
            &::after{
               transform:rotate(-45deg);
               bottom:11px;
            }
            span{
               transform:translate(100px);
            }
         }
      }
   }
   .menu {
      margin-left: 40px;
      z-index: 2;

      @media screen and (max-width: 768px) {
         position: absolute;
         top: -100vh;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100vh;
         margin: 0;
         background-color: $green-primary;
         transition: all 0.5s ease-in;
         overflow-y: auto;
      }

      &.active {
         @media screen and (max-width: 768px) {
            top: 0;
         }
      }
   }
   .list {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
         display: block;
         padding: 112px 0 0;
         position: relative;
			z-index: 3;
      }
      .item {
         margin: 0 48px;
         position: relative;
         @media screen and (max-width: 1199px) {
            margin-right: 32px;
            margin-left: 32px;
         }
         @media screen and (max-width: 960px) {
            margin-right: 16px;
            margin-left: 16px;
         }
         @media screen and (max-width: 768px) {
            margin: 0 16px 32px;
         }
         &:first-child {
            margin-left: 0;
            @media screen and (max-width: 768px) {
               margin: 0 16px 32px;
            }
         }
         &:last-child {
            margin: 0;
            @media screen and (max-width: 768px) {
               margin: 0 16px 32px;
            }
         }

         .link {
            display: inline-block;
            font: 400 20px/1.5 $base-font-family-sans-serif;
            color: $black;
            transition: all 0.3s ease-in;
            &:hover {
               @media screen and (min-width:1023px) {
                  color: $green-primary;
               }
            }

            &.btn {
               padding: 14px 32px;
               color: $white;
               @media screen and (max-width: 768px) {
                  padding: 0;
                  background-color: transparent;
                  border: 0;
               }
               &:hover {
                  @media screen and (min-width:1023px) {
                     color: $green-primary;
                  }
               }
            }
         }
      }
   }
}

// repeated block
.row {
   display: flex;
   justify-content: space-between;

   @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
   }

   .text-block {
      max-width: 460px;
      width: 100%;
      margin-right: 40px;

      @media screen and (max-width: 768px) {
         max-width: 100%;
         margin-right: 0;
         padding: 0 0 32px;
         text-align: center;
      }
   }

   .img-block {
      min-width: 620px;
      @media screen and (max-width: 1199px) {
         min-width: 520px;
      }
      @media screen and (max-width: 1023px) {
         min-width: 420px;
      }
      @media screen and (max-width: 768px) {
         min-width: inherit;
      }
   }

   &.row-reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: 768px) {
         flex-direction: column;
         align-items: center;
      }
      .text-block {
         margin: 0 0 0 48px;
         @media screen and (max-width: 768px) {
            margin: 0;
         }
      }
   }
}

.text {
   color: $grey-2;

   &.footnote {
      padding: 0;
      font: 400 16px/1.5 $base-font-family-sans-serif;
      color: $grey;
   }
}


// main
.main {
   flex: 1;
}

// first section
.first-section {
   padding: 196px 0 88px;

   @media screen and (max-width: 1199px) {
      padding: 160px 0 80px;
   }

   @media screen and (max-width: 768px) {
      padding: 136px 0 40px;
   }
   .title {
      padding: 0 0 40px;
      
      @media screen and (max-width: 1199px) {
         font-size: 60px;
      }
      @media screen and (max-width: 1023px) {
         font-size: 56px;
      }
      @media screen and (max-width: 768px) {
         padding: 0 0 32px;
      }
   }
   .text {
      padding: 0 0 96px;
      font: 400 20px/1.5 $base-font-family-sans-serif;
      color: $grey-4;
      @media screen and (max-width: 1199px) {
         padding: 0 0 64px;
      }
      @media screen and (max-width: 768px) {
         padding: 0 0 24px;
      }

      &.footnote {
         padding: 0;
         font: 400 16px/1.5 $base-font-family-sans-serif;
         color: $grey;
      }
   }
   .btn {
      margin: 0 0 8px;
   }
   .row {
      align-items: flex-end;
      @media screen and (max-width: 768px) {
         align-items: center;
      }

      .img-block {
         display: flex;
         justify-content: center;
      }
   }
}
// what-section
.what-section {
   padding: 88px 0;

   @media screen and (max-width: 1199px) {
      padding: 80px 0;
   }

   @media screen and (max-width: 768px) {
      padding: 40px 0;
   }
}
// subscription-section
.subscription-section {
   padding: 32px 0;
   background-color: $green-primary-3;

   .container {
      text-align: center;
   }

   .title-block {
      padding: 0 0 72px;
      @media screen and (max-width: 1023px) {
         padding: 0 0 48px;
      }
   }

   .column-ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      background-color: $green-primary-4;
      border-radius: 10px;
      margin: 0 0 24px;

      @media screen and (max-width: 1023px) {
         margin: 0 0 16px;
      }
   }

   .column-text {
      text-align: center;
   }
   .row {
      display: flex;
      justify-content: center;
      margin: 0 0 48px;

      @media screen and (max-width: 1199px) {
         flex-wrap: wrap;
         margin: 0 0 24px;
      }
      @media screen and (max-width: 768px) {
         flex-direction: row;
         margin: 0 0 8px;
      }

      .column {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0 32px;
         justify-content: center;
         margin: 0 0 32px;
         width: 190px;
      }
   }

   .btn {
         margin: 0 0 8px;
   }

   .text {
      color: $grey-4;
      &.footnote {
         padding: 0;
         font: 400 16px/1.5 $base-font-family-sans-serif;
         color: $grey;
      }
   }
}
// free-section
.free-section {
   padding: 88px 0 40px;

   .row {
      .text-block {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .text-wrapper {
            padding: 0 0 32px;
         }
      }
   }

   .link-block {
      text-align: right;
   }

   .link {
      display: inline-flex;
      align-items: center;
      font: 500 24px/1.5 $base-font-family-sans-serif;
      &:hover {
         @media screen and (min-width: 1024px) {
            .arrow {
               transform: rotate(-180deg);
            }
         }
      }

      .arrow {
         display: inline-flex;
         width: 26px;
         height: 16px;
         margin-left: 16px;
         transition: all 0.3s ease-in;
         svg {
            fill: $green-primary;
         }
      }
   }

   .img-block {
      picture {
         display: block;
         box-shadow: 0px 1px 21px rgba(0, 0, 0, 0.09);
      }
   }
}
// read-section
.read-section {
   padding: 48px 0;

   .row {
      .text-block {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .text-wrapper {
            padding: 0 0 16px;
         }
      }
   }

   .link-block {
      display: flex;
      align-items: center;

      .img-link {
         &:not(:last-child){
            margin-right: 20px;
         }
      }
   }

   .img-block {
      picture {
         display: block;
         box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
      }
   }
}
//slider-section
.slider-section {
   .slide {
      margin: 0 8px;
   }
}


//footer
.footer {
   background-color: #ddd;
   padding: 15px 0;
}