@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;700&display=swap');
$base-font-family-sans-serif:'Mitr', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:           #fff;
$green-primary:   #2CD7CB;
$green-primary-2: #36BBB2;
$green-primary-3: #EEFFFE;
$green-primary-4: #72CFC9;
$grey:            #95989B;
$grey-2:          #75787C;
$grey-3:          #2A3036;
$grey-4:          #4A4F54;
$black:           #000;